<%- include('./partials/head') %>

<div class = 'detail'>
    <%if(data.webImage){ %>
        <img src= <%- data.webImage.url.slice(0, -3) + "=s1000" %> alt= <%- data.title %> >
    <% }else{ %>
        <img src= <%- "/img/placeholder.png" %> alt= <%- data.title %> >
    <% } %>    
    <div>
        <h2><%-data.title%></h2>
        <h3><%-data.dating.presentingDate%></h3>
        <p><%-data.description%></p>
    </div>
</div>

<%- include('./partials/footer') %>
