<%- include('./partials/head') %>

<div class = "paintingWrapper">

    <% data.forEach(function(painting) { %>
            <a href = "/painting/<%= painting.objectNumber %>">
                <%if(painting.webImage){ %>
                    <img src= <%- painting.webImage.url.slice(0, -3) + "=s1000" %> alt= <%- painting.title %> >
                <% } %>
                <h2><%- painting.title %></h2>
            </a>
    <% }) %>

</div>

<%- include('./partials/footer') %>
